<div class="card-columns m-5 p-5">
  <%# @restaurants.each do |restaurant| %>
    <%#= render 'restaurant', restaurant: restaurant %>
  <%# end %>
  <!-- This is the same as above ☝️ -->
  <%= render @restaurants %>
</div>
